@import "./common/styles/variables.css";

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.left {
  position: relative;
  float: left;
  background: var(--background);
  width: 50vw;
  height: 100vh;
  /* width: 900px;
  height: 982px; */
  left: 0px;
  top: 0px;
}

.right {
  position: relative;
  float: left;
  background: #ffffff;
  width: 50vw;
  height: 100vh;
  /* width: 900px;
  height: 982px; */
  right: 0px;
  bottom: 0px;
}

.text-area {
  position: absolute;
  background-color: var(--background);
  /* width: 80%; */
  width: 38vw;
  margin-left: 12%;
  height: 48%;
  /* left: 10%; */
  top: 30vh;
  margin-top: 72px;

  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
}

.output-area {
  position: absolute;
  width: 80%;
  height: 48%;
  left: 10%;
  top: 246px;
  margin-top: 72px;

  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
}

.logo {
  position: absolute;

  width: 15vw;
  height: 10vh;
  aspect-ratio: 3/2;
  object-fit: contain;
  top: 2vh;
  left: 6vw;

  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}

.zoom-button {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 8px;

  position: absolute;
  width: 44px;
  height: 44px;
  right: 72px;
  top: 216px;

  background: var(--white);
  border: 1px solid #f1f1f1;
  border-radius: 56px;
}

.zoom-button:hover {
  border: 1px solid var(--purple);
}

.zoom-button:hover svg {
  stroke: var(--purple);
  stroke-opacity: 100%;
}

.download-button {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 8px;

  position: absolute;
  width: 44px;
  height: 44px;
  top: 216px;
  right: 88px;

  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 56px;

  flex: none;
  order: 1;
  flex-grow: 0;

  overflow: hidden;
  cursor: pointer;
}

.download-button:hover {
  border: 1px solid var(--purple);
}

.download-button:hover svg {
  stroke: var(--purple);
  stroke-opacity: 100%;
}

.download-button.active svg {
  stroke: var(--purple);
  stroke-opacity: 100%;
}

.download-button.active {
  border: 1px solid var(--purple);
}

.copy-button {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 8px;

  position: absolute;
  width: 44px;
  height: 44px;
  top: 216px;
  right: 144px;

  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 56px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.copy-button:hover {
  border: 1px solid var(--purple);
}

.copy-button:hover svg {
  stroke: var(--purple);
  stroke-opacity: 100%;
}

.rotate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 8px;
  cursor: pointer;

  position: absolute;
  width: 40px;
  height: 40px;
  top: 89%;
  left: 149px;

  background: var(--white);
  border-radius: 56px;
}

.rotate:hover {
  border: 1px solid var(--purple);
}

.rotate:hover svg {
  stroke: var(--purple);
  stroke-opacity: 100%;
}

.counter {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  color: rgba(18, 19, 18, 0.7);

  position: absolute;
  top: 90%;
  left: 72px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.upload-count {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
}

.upload-count h2 {
  width: 100%;
}

.second-counter {
  right: 603px;
}

.hireButton {
  position: absolute;
  top: 24px;
  right: 88px;
  /* top: 24px;
  right: 88px; */
}

.copy-text {
  color: var(--purple);
  position: absolute;
  top: 218px;
  right: 200px;
  padding: 12px;
}

.dropdown-menu {
  position: absolute;
  top: 270px;
  right: 90px;
  background-color: (--white);
  padding: 10px 20px;
  width: 152px;
  border-radius: var(--border-radius);
  border: 1px solid var(--liteGray);
  color: var(--fadedGray);
}

/* .dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background-color: var(--liteGray);
  transform: rotate(45deg);
} */

.dropdown-menu ul li {
  padding: 10px 0;
  /* border-top: 1px solid var(--liteGray); */
}

.dropdown-menu ul li:hover {
  color: var(--purple);
  cursor: pointer;
}

.dropdown-menu li:hover img {
  opacity: 1;
  cursor: pointer;
}

.dropdown-item {
  display: flex;
  margin: 10px auto;
}

/* .dropdown-item img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
} */

.dropdown-item:hover div {
  color: var(--purple);
}

.dropdown-item div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: var(--speed);
}
.dropdown-item svg {
  stroke: var(--liteGray);
  stroke-opacity: 40%;
}

.dropdown-item:hover div svg {
  stroke: var(--purple);
  stroke-opacity: 100%;
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: var(--speed) ease;
}

.dropdown-menu.active svg {
  stroke: var(--fadedGray);
  stroke-opacity: 100%;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive svg {
  stroke-opacity: 0%;
  transition: var(--speed) ease;
}

@media only screen and (max-width: 600px) {
}
