@import "./common/styles/variables.css";

body {
  font-family: "Avenir Next";
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.logo {
  position: absolute;

  width: 15vw;
  height: 10vh;
  aspect-ratio: 3/2;
  object-fit: contain;
  top: 2vh;
  left: 6vw;

  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}

.upload-count {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
}

.upload-count h2 {
  width: 100%;
}

.second-counter {
  right: 603px;
}

.hireButton {
  position: absolute;
  top: 24px;
  right: 88px;
  /* top: 24px;
  right: 88px; */
}

@media only screen and (max-width: 600px) {
}
